{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/no-multi-comp": 0,
    "no-void": 0,
    "react/prop-types": 0
  }
}
